*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.slider {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.slider-items {
    width: 80%;
    height: 90vh;
}

.item {
    display: none;
    height: 100%;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item.active {
    display: block;
}

.prev,
.next {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



.prev {
    right: 10%;
    transform: translate(50%);
    top: 10px;
}

.next {
    right: 10%;
    transform: translate(50%);
    bottom: 10px;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 90vh;

}

.thumbnail {
    height: 18vh;
    opacity: 0.6;
}

.thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.active-thumbnail {
    border: 8px solid white;
    opacity: 1;
}